* {
  border-color: #f46c26 !important;
}

.inputbox {
  height: 50px;
  min-height: 50px;
  position: relative;
  top: 35%;
}

#outlined-basic {
  position: relative;
  max-width: 514px;
  width: 75vw;
  min-width: 245px;
  border-radius: 35px;
  background-color: #29292c;
  opacity: 0.8;
  height: 10px;
}

label {
  color: #fae9de !important;
  left: 2px !important;
  top: -6px !important;
  transform-origin: -16px 26px !important;
}

fieldset {
  border-radius: 59px !important;
  background-color: #29292c;
  opacity: 0.5;
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.75);
}
