#sectionsmenu {
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  height: 20%;
}
.tabContents {
  background-color: #fb6c1a;
  height: 100%;
  min-height: 340px;
  width: 100%;
  min-width: 320px;
  overflow: auto;
  z-index: 2;
  padding: 12px 13px 70px 13px;
}
#contentmenu {
  border-radius: 35px 35px 0 0;
  height: 90%;
  overflow: hidden;
  margin-top: 0.2rem;
}
#sectionsmenu
  .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root.Mui-disabled {
  display: none;
}
#sectionsmenu .css-145v6pe-MuiButtonBase-root-MuiTabScrollButton-root {
  opacity: 0 !important;
  width: 0 !important;
}
#sectionsmenu .css-1aquho2-MuiTabs-indicator {
  background-color: transparent !important;
}
.css-1q0ig8p {
  display: none !important;
}
#sectionsmenu .teste {
  width: 25%;
  color: #fafafa !important;
  border-radius: 25px !important;
  background-color: #fb6c1a;
  margin-right: 5px;
  margin-left: 5px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}

#sectionsmenu .css-69z67c-MuiTabs-scroller {
  display: flex;
  height: 100% !important;
  align-items: center;
}
#sectionsmenu .css-12qnib {
  display: flex;
  height: 100% !important;
  align-items: center;
}
.css-12qnib {
  display: flex !important;
  height: 100% !important;
  align-items: center !important;
}
#sectionsmenu .css-1q0ig8p.Mui-disabled {
  display: none;
}

#cardlistmenu {
  height: 50%;

  overflow: auto !important;
}
.MuiTypography-root.MuiTypography-body1.css-ahj2mt-MuiTypography-root {
  height: 150%;
}
.css-2ulfj5-MuiTypography-root {
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  font-size: 24%;
  line-height: 1.6;
  letter-spacing: 0.0075em;
}
