.screenOrder {
  overflow: auto;
  position: relative;
  height: 150vh;
  width: 100%;
  background-color: #f46c26;
}
.headerOrder {
  height: 8%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  margin-left: 1rem;
  color: #f9e9df;
}
.contentOrder {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 200%;
  background-color: #f9e9df;
  position: relative;
  bottom: 0;
  border-radius: 25px 25px 0 0;
  justify-content: space-evenly;
}
.editInformation {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  color: #f9e9df;
  border-bottom: 1px #f9e9df solid;
}
.btnEditInformation {
  width: 15%;
  height: 1.3rem;
  border-radius: 5px;
  background-color: #f9e9df;
  color: #f46c26;
  border: #f9e9df;
}
.cardPersonalData {
  position: relative;
  width: 90%;
  height: 10%;
  min-height: 12rem;
  background-color: #f46c26;
  border-radius: 25px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.contentPersonalData {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-around;
}

.nameAndTelephone {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  color: #f9e9df;
}
.cardDeliveryMethod {
  width: 90%;
  height: 12%;
  background-color: #f46c26;
  position: relative;
  border-radius: 25px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.deliveryMethod {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  color: #f9e9df;
}
.cardDeliveryAddress {
  position: relative;
  width: 90%;
  height: 20%;
  min-height: 32rem;
  background-color: #f46c26;
  border-radius: 25px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.editInformationAddress {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #f9e9df;
  border-bottom: 1px #f9e9df solid;
}
.contentDeliveryAddress {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputCheckout fieldset {
  border-radius: 10px !important;
  height: 90%;
  box-shadow: none !important;
  border-color: #f9e9df !important;
  margin-left: 10px;
}
.inputCheckout input {
  color: #f9e9df;
  padding: 0 0 9px 25px !important;
  text-transform: capitalize;
}

.addressData {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 5%;
  color: #f9e9df;
}
.cardFormOfPayment {
  position: relative;
  width: 90%;
  height: 20%;
  min-height: 145px;
  background-color: #f46c26;
  border-radius: 25px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.FormOfPayment {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  color: #f9e9df;
}
.totalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f46c26;
  border-radius: 15px;
  height: 3%;
  width: 90%;
}
.contentTotalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  color: #f9e9df;
}
.btnSendRequest {
  width: 35%;
  height: 50%;
  border-radius: 8px;
  border: #f46c26 2px solid !important;
  background-color: #48ad7b;
}
