.screenOrder {
  overflow: auto;
  position: relative;
  height: 100dvh;
  width: 100%;
  background-color: #f46c26;
}
.headerOrder {
  height: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  margin-left: 1rem;
  color: #f9e9df;
}
.contentOrder {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 74rem;
  background-color: #f9e9df;
  position: relative;
  bottom: 0;
  border-radius: 25px 25px 0 0;
  justify-content: flex-start;
}
.editInformation {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  color: #f9e9df;
  border-bottom: 1px #070707 solid;
  z-index: 1;
}
.btnEditInformation {
  width: 15%;
  height: 1.3rem;
  border-radius: 5px;
  background-color: #f46c26;
  color: #f8e9e0;
  border: #f9e9df;
}
.backgroundTitle {
  position: absolute;
  top: 0;
  width: 13rem;
  height: 2.3rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0 30px 0px 0px;
}
.backgroundTitleDelivery {
  position: absolute;
  top: 0.3rem !important;
  width: 13rem;
  height: 2.2rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0 30px 0px 0px;
}
.backgroundTitleAddress {
  position: absolute;
  top: 0;
  width: 15rem;
  height: 3.8rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0 30px 0px 0px;
}
.backgroundTitleAddressRetirada {
  position: absolute;
  top: 0;
  width: 14rem;
  height: 3.9rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0 30px 0px 0px;
  z-index: 2;
}

.cardPersonalData {
  position: relative;
  width: 100%;
  height: 10rem;
  border-radius: 25px;
}
.contentPersonalData {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-between;
}

.nameAndTelephone {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 5%;
  color: #070707;
}
.cardDeliveryMethod {
  width: 100%;
  height: 10rem;
  position: relative;
  border-radius: 25px;
}
.deliveryMethod {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  color: #0f0f0f;
}
.cardDeliveryAddress {
  position: relative;
  width: 100%;
  height: 20%;
  min-height: 32rem;
  border-radius: 25px;
}
.editInformationAddress {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  height: 10%;
  color: #f9e9df;
  border-bottom: 1px #0a0a0a solid;
  z-index: 2;
}
.contentDeliveryAddress {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputCheckout fieldset {
  border-radius: 10px !important;
  height: 90%;
  box-shadow: none !important;
  border-color: #070707 !important;
  margin-left: 10px;
}
.inputCheckout {
  color: #070707 !important;
  padding-left: 5px !important;
  text-transform: capitalize;
  border-radius: 5px;
}

.addressData {
  height: 27rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding-left: 5%;
  color: #0e0d0d;
}
.cardFormOfPayment {
  position: relative;
  width: 100%;
  height: 20rem;
  min-height: 145px;
  border-radius: 25px;
}
.FormOfPayment {
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 100%;
  justify-content: space-between;
  color: #070707;
}
.totalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f46c26;
  border-radius: 15px;
  height: 8%;
  width: 90%;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.contentTotalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #f9e9df;
  justify-content: center;
}
.btnSendRequest {
  width: 50%;
  height: 3rem;
  border-radius: 8px;
  border: none;
  background-color: #f8e9e0;
  color: #f46c26;
  margin-right: 1rem;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}
.btnCloseService {
  width: 5rem;
  height: 3rem;
  border-radius: 8px;
  border: #f46c26 2px solid !important;
  background-color: #f46c26;
  margin-bottom: 2rem;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #fae9de;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
