.iconAndText {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 56%;
  margin-left: 1rem;
  color: #f9e9df;
}

.editInformation {
  display: flex;
  justify-content: space-between;
  padding-left: 5%;
  padding-right: 5%;
  align-items: center;
  width: 100%;
  color: #f9e9df;
  border-bottom: 1px #070707 solid;
  z-index: 1;
}
.btnEditInformation {
  width: 15%;
  height: 1.3rem;
  border-radius: 5px;
  background-color: #f46c26;
  color: #f8e9e0;
  border: #f9e9df;
}

.backgroundTitleAddressRetirada {
  position: absolute;
  top: 0;
  width: 14rem;
  height: 3.7rem;
  background: rgba(0, 0, 0, 0.87);
  border-radius: 0 30px 0px 0px;
  z-index: 2;
}
.click:active {
  transform: scale(0.98) !important;
}
.cartbtn:hover {
  background-color: #f16d2f !important;
  color: #f9e9df !important;
  border: 1px solid #fae9de !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 5px 1px !important;
}

.contentDeliveryAddress {
  display: flex;
  width: 100%;
  height: 100%;
  align-content: stretch;
  flex-direction: column;
  justify-content: space-evenly;
}
.inputCheckout fieldset {
  border-radius: 10px !important;
  height: 90%;
  box-shadow: none !important;
  border-color: #070707 !important;
  margin-left: 10px;
}
.inputCheckout {
  color: #070707 !important;
  padding-left: 5px !important;
  text-transform: capitalize;
  border-radius: 5px;
}

.addressData {
  height: 85%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-left: 5%;
  color: #0e0d0d;
}
.cardFormOfPayment {
  position: relative;
  width: 100%;
  height: 20rem;
  min-height: 145px;
  border-radius: 25px;
}

.totalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f46c26;
  border-radius: 15px;
  height: 3%;
  width: 90%;
}
.contentTotalPurchase {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  color: #f9e9df;
}
.btnSendRequest {
  width: 40%;
  height: 75%;
  border-radius: 8px;
  border: none;
  background-color: #f8e9e0;
  color: #f46c26;
}
.btnCloseService {
  width: 5rem;
  height: 3rem;
  border-radius: 8px;
  border: #f46c26 2px solid !important;
  background-color: #f46c26;
  margin-bottom: 2rem;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  background-color: #fae9de;
}
.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}
.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards,
    scale 0.3s ease-in-out 0.9s both;
}
.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 48;
  stroke-dashoffset: 48;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
  100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
