.paginaRegistro {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.inputFormEndereco {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: large;
  background-color: #f46c26 !important ;
  color: #f9e9df !important;
  text-transform: capitalize;
  padding-left: 5px;
  height: 2rem;
  border: 1px #c54d0f8f solid !important;
  border-radius: 8px;
  box-shadow: 5px 4px 5px 2px rgba(0, 0, 0, 0.2),
    5px 4px 5px 2px rgba(0, 0, 0, 0.14), 5px 4px 5px 2px rgba(0, 0, 0, 0.12) !important;
}

.cep {
  width: 6rem;
}
#inputAndBtnSerach {
  width: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#inputCidadeEEstado {
  display: flex;
  gap: 0.8rem;
}
.dadosEstado {
  display: flex;
  width: 71%;
  flex-direction: column;
}
.w4rem {
  width: 4rem;
}
#inputTelEWhats {
  width: 100%;
  position: relative;
  display: flex;
}
.w9rem {
  width: 80%;
  min-width: 143px !important;
}
#inputTelefone {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#inputWhatsapp {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.labelFormEndereco {
  color: #f46c26 !important;
  font-family: "Roboto";
}

.checkboxWhatsapp span {
  padding-left: 5px !important;
}
.btnIrParaPagamento {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  height: 5%;
  border: 1px #f46c26 solid;
  border-radius: 10px;
  color: #f46c26 !important;
  min-width: 226px !important;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 5px 1px;
}

.click:active {
  transform: scale(0.98) !important;
}
.cartbtn:hover {
  background-color: #f16d2f !important;
  color: #f9e9df !important;
  border: 1px solid #fae9de !important;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.5) 2px 3px 5px 1px !important;
}
