.footer {
  display: flex;
  width: 100% !important;
  position: relative;
  bottom: 0px;
  height: 100%;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  align-content: center;
  flex-wrap: nowrap;
  z-index: 2;
}
.footer .contentFooter {
  display: flex;
  height: 100%;
  width: 100%;
  /* color: red !important; */
  background-color: #fbe9dd;
  flex-wrap: nowrap;
  /* border-radius: 37px; */
  justify-content: space-between;
  align-items: center;
}
.footer .iconsfooter {
  color: #29292c !important;
}
#cartcount {
  text-align: center;
  border-radius: 50%;
  width: 20px !important;
  background-color: #ffffff;
  color: #ffd439;
  height: 20px;
  position: absolute;
  top: 1%;
  left: 18%;
}

#displayItems {
  overflow: hidden;
  display: flex;
  height: 97vh;
  max-width: 600px;
  width: 100%;
  background-color: #fb6c1a;
  border-radius: 30px 30px 0 0;
  position: absolute;
  bottom: -100vh;
  transition: 1s;
}

.displayItemson {
  bottom: -2vh !important;
  transition: 1s;
}
.displayItemson .btnreturnpurchase {
  color: #f7e9e1 !important;
  background-color: #f76d26 !important;
  border-radius: 35px !important;
  border: 1px solid #fae9de !important;
  width: 80vw !important;
  max-width: 375px !important;
}
.displayItemson .btncheckout {
  color: #f7e9e1 !important;
  background-color: #f76d26 !important;
  border-radius: 35px !important;
  border: 1px solid #fae9de !important;
  width: 80vw !important;
  max-width: 375px !important;
}
#iconcart-list {
  max-width: none;
  width: 100% !important;
  background-color: #f8e9e0;
  position: absolute;
  border: 2px solid #f76d26 !important;
  border-radius: 27px 28px 0 0;
  z-index: 1;
}

.cartButtons {
  width: 46%;
  height: 100px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 11%;
  right: 26.5%;
}

.cartButtons button {
  padding: 10px;
}

.cartButtons button:first-child {
  margin-bottom: 10px;
}
